body{ /*color de fondo de la página*/
	background-color: #F9CDB9;
}

span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 5px #2E43E0;
	animation: span 5s ease-in infinite alternate;
}

.title{ /*título de la página*/
	display: flex;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 45px;
	color: #192158;
	justify-content: center;
	align-items: flex-start;
	@media(max-width: 500px)
	transform: scale(3); 
}

.letter{ /*animación para la 'U' del título*/
	height: 27px;
	width: 38px;
	border: 6px solid #192158;
	border-top: 0px;
	border-radius: 10px;
	box-shadow:
		 0 3px 3px -1.5px #B3BFF6,
		inset 0 -5px 5px -0.01px #B3BFF6;
	animation: letter 5s ease-in-out infinite alternate;
}

@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}

canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
	background: rgb(0,0,0);
}

img{
	display:none
}
video{
	display:none
}

						/******  ESTILO PESTAÑAS  ******/


/* estilo de la barra de pestañas */
nav {
  border: 6px solid #192158;
  background-color: #192158;
  display: block;
  text-align: center;
}

/* estilo botón de pestaña seleccionada */
nav button {
  font-size: 17px;
  color: #FFFFFF;
  font-weight: bold;
  min-width: 150px;
  background-color: #2A3795;
  border: none;
  padding: 15px 15px;
  transition: 0.3s;
}

/* color botón al pasar el ratón por encima */
nav button:hover {
  background-color: #2E43E0;
}

/* color específico pestaña seleccionada */
nav button.active {
  background-color: #E5670F;
  color: #192158;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid;
  border-top: none;
  animation: fadeEffect 1s; /* efecto fade tarda 1 segundo */
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


					/******  PESTAÑA DE DESCRIPCION DEL JUEGO  ******/


h1{
	color: #E5670F;
	font-family: verdana;
}	
					
.maquina {
  width: 20ch;
  font-family: 'Courier new', monospace;
  font-weight: bold;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
}

.maquina2 {
  width: 150ch;
  font-family: 'Courier new', monospace;
  font-weight: bold;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  /*border-right: 2px solid;*/
  font-size: 18px;
}

.maquina3 {
  width: 50ch;
  font-family: 'Courier new', monospace;
  font-weight: bold;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-size: 18px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

				
					
					/******  PESTAÑA DE AUTORES  ******/
h2 {
  -moz-animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -moz-animation-name: slidein-left;
  -webkit-animation-name: slidein-left;
}

h4 {
  -moz-animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -moz-animation-name: slidein-left;
  -webkit-animation-name: slidein-left;
}

@-moz-keyframes slidein-left {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slidein-left {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}