body{ /*color de fondo de la p치gina*/
	background-color: #FAE4D5;
	width: 100%;
	height: 100%;
	margin: 10px 0;
}

span{ /*movimiento del resto de letras del t칤tulo*/
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 5px #2E43E0;
	animation: span 5s ease-in infinite alternate;
}

.title{ /*t칤tulo de la p치gina*/
	display: flex;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 45px;
	color: #192158;
	justify-content: center;
	align-items: flex-start;
	@media(max-width: 500px)
	transform: scale(3); 
}

.letter{ /*animaci칩n para la 'U' del t칤tulo*/
	height: 27px;
	width: 38px;
	border: 6px solid #192158;
	border-top: 0px;
	border-radius: 10px;
	box-shadow:
		 0 3px 3px -1.5px #B3BFF6,
		inset 0 -5px 5px -0.01px #B3BFF6;
	animation: letter 5s ease-in-out infinite alternate;
}

@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}

canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
	background: rgb(0,0,0);
}

img{
	display:none
}
video{
	display:none
}

						/******  ESTILO PESTA칌AS  ******/


/* estilo de la barra de pesta침as */
nav {
  border: 6px solid #192158;
  background-color: #192158;
  display: block;
  text-align: center;
}

/* estilo bot칩n de pesta침a seleccionada */
nav button {
  font-size: 17px;
  color: #FFFFFF;
  font-weight: bold;
  min-width: 210px;
  background-color: #2A3795;
  border: none;
  padding: 15px 15px;
  transition: 0.3s;
  cursor: pointer;
}

/* color bot칩n al pasar el rat칩n por encima */
nav button:hover {
  background-color: #2E43E0;
}

/* color espec칤fico pesta침a seleccionada */
nav button.active {
  background-color: #E5670F;
  color: #192158;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid;
  border-top: none;
  animation: fadeEffect 1s; /* efecto fade tarda 1 segundo */
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


					/******  PESTA칌A DE DESCRIPCION DEL JUEGO  ******/


h1{
	color: #E5670F;
	font-family: verdana;
}	
					
.maquina {
  width: 20ch;
  font-family: 'Courier new', monospace;
  font-weight: bold;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
}

.maquina2 {
  width: 120ch;
  font-family: 'Courier new', monospace;
  font-weight: bold;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  /*border-right: 2px solid;*/
  font-size: 18px;
}

.maquina3 {
  width: 50ch;
  font-family: 'Courier new', monospace;
  font-weight: bold;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-size: 18px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

dd{
	display: list-item;
	list-style-type: "游";
	padding-inline-start: 1ch;
}

				
					
					/******  PESTA칌A DE AUTORES  ******/
h2 {
  -moz-animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -moz-animation-name: slidein-left;
  -webkit-animation-name: slidein-left;
}

h4 {
  -moz-animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -moz-animation-name: slidein-left;
  -webkit-animation-name: slidein-left;
}

@-moz-keyframes slidein-left {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slidein-left {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

					/******  PESTA칌A DE REFERENCIAS  ******/

.boton-ref{
	padding: 15px 5px 15px 5px; /*arriba dcha abajo izda*/
	width: 100%;
	display: inline-block;
}	
					

.boton-ref button {
  color: #000000;
  width: 33%;
  font-style: 'Courier new', monostyle;
  font-size: 13px;
  font-weight: bold;
  background-color: #98A2EA; 
  border: 2px solid #808DEB;
  border-radius: 6px;
  padding: 8px 8px 8px 8px;
  transition: 0.2s;
  cursor: pointer;
}

.boton-ref button:hover{
  background-color: #5365E9;
  color: #FFFFFF;
  border: 2px solid #4559E7;
}

.boton-ref button:active{
  background-color: #EE985B;
  color: #000000;
  border: 2px solid #EC8943;
}