h1{
	color: red;
	text-align: center;
	font-family: Impact
}

canvas{
	
	border-top: solid rgb(0,180,0);
	border-right: solid rgb(0,180,0);
	border-bottom: solid rgb(0,180,0);
	border-width: 10px 10px 10px 0px;
	background: rgb(155,155,155);
}

/* estilo del fondo de las pestañas */
.tab {
  overflow: center;
  border: 5px solid #2307C2;
  background-color: #2307C2;
}

/* estilo botón de pestaña seleccionada */
.tab button {
  font-size: 50px solid #000000;
  background-color: #C9B8E9;
  color: #000000;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* color botón al pasar el ratón por encima */
.tab button:hover {
  background-color: #CAE4EA;
}

/* color específico pestaña seleccionada */
.tab button.active {
  background-color: #995FD4;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}